extends layout
block title
  | X-Lunch
block append script
  script(src="/lib/base.js")
  script(src="/lib/lunchIdAndNames.js")
  script(src="/index.js")

block body
  h1.logo X-Lunch
  #app
  form.newGroup(action="/", method="post")
    input(name="name", type="text")
    button.fa.fa-plus(type="submit") ランチのくくりを作る
