html
  title
    block title
  block script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js")
    //
        script(src="https://cdnjs.cloudflare.com/ajax/libs/snabbdom/0.7.0/snabbdom.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/snabbdom/0.7.0/snabbdom-style.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/snabbdom/0.7.0/snabbdom-class.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/snabbdom/0.7.0/snabbdom-props.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/snabbdom/0.7.0/snabbdom-attributes.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/snabbdom/0.7.0/snabbdom-eventlisteners.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/snabbdom/0.7.0/h.js")
    // script(src="https://cdnjs.cloudflare.com/ajax/libs/snabbdom/0.7.0/tovnode.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/snabbdom/0.7.0/snabbdom-patch.js")
    script(src="/lib/snabbdom.js")
body
  block body
