extends layout
block title
  | シャッフルランチ - X-Lunch
block append script
  script
    | const id =
    = id
    | ;
  script(src="/lib/base.js")
  script(src="/lib/lunchName.js")
  script(src="/lib/lunchMembers.js")
  script(src="/lib/lunchInactiveMembers.js")
  script(src="/lib/lunchMembersOfGroups.js")
  script(src="/show.js")

block body
  .logo X-Lunch
  #app
  a(href="/") 戻る
